* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColorPage);
  color: var(--contentColorDefault);
}

body {
  color: var(--contentColorDefault);
  box-sizing: border-box;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, select, textarea {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--neutral200);
  border-radius: 4px;
  font-size: 14px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  cursor: pointer;
  color: var(--contentColorActive);
  background-color: var(--interactiveColorDefaultBackground);
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn-primary-marketing {
  background: var(--interactiveColorPrimary);
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  color: var(--contentColorInverted);
  padding: 8px 16px;
}

/* Typography Startpoint */
h1 {
  /* Headers / H1 - 48px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 95.5%;
  color: var(--contentColorActive);
}

h2 {
  /* Headers / H2 - 40px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: var(--contentColorActive);
}

h3 {
  /* Headers / H3 - 32px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: var(--contentColorActive);
}

h4 {
  /* Headers / H4 - 24px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--contentColorActive);
}

h5 {
  /* Headers / H5 - 16px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--contentColorActive);
}

h6 {
  /* Headers / H6 - 12px Bold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: var(--contentColorActive);
}

.subtitle-1-semibold {
  /* Subtitle / 1 - 14px Semibold */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 127%;
}

.subtitle-1-medium {
  /* Subtitle / 1 - 16px Medium */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.subtitle-2 {
  /* Subtitle / 2 - 14px Medium */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.subtitle-3 {
  /* Subtitle / 3 - 12px Medium */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 149.3%;
}

p {
  /* Body / 1 - 16px Regular */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.p-large {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--contentColorDefault);
  letter-spacing: 0.0025em;
}

.labels-caption {
  /* Labels / Caption */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--contentColorDefault);
}

.labels-overline {
  /* Labels / Overline */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: var(--contentColorActive);
}
/* Typography Endpoint */

/* Colors Startpoint */
:root {

  /* background colors in application */
  --backgroundColorNavigation: rgba(8,9,10,1);
  --backgroundColorSidebar: rgba(11,12,14,1);
  --backgroundColorPage: rgba(17,18,21,1);

  /* For text and iconography */
  --contentColorActive: rgba(255,255,255,0.98);
  --contentColorDefault: rgba(255,255,255,0.7);
  --contentColorMuted: rgba(255,255,255,0.5);
  --contentColorDisabled: rgba(255,255,255,0.3);
  --contentColorInverted: rgba(0,0,0,1);
}

/* Colors Endpoint */

.sexy_line{
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#000));
}

/* Move Button CSS in the future if we refactor */
.button {
  border: none;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 10px 18px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

a:focus {
  outline: none;
}

a:focus > img {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 2px rgba(113, 69, 238, 0.7);
}

textarea:focus,
input:hover:before,
input:focus:before,
.button:hover:before,
.button:focus:before {
  content: ' ';
  display: block;
  z-index: 1;
}

input:focus,
select:focus,
textarea:focus,
.button.primary:focus,
.button.secondary:focus {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 2px rgba(113, 69, 238, 0.7);
  outline: none;
}

.button.primary {
  color: var(--contentColorInverted);
  background-color: var(--interactiveColorPrimary);
}

input:hover,
.button.primary:hover {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 3px rgba(113, 69, 238, 0.12);
}

input:active,
.button.primary:active {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 3px rgba(113, 69, 238, 0.3);
}

.button.secondary {
  color: var(--contentColorDefault);
  background-color: var(--interactiveColorDefaultBackground);
}

textarea:hover,
.button.secondary:hover {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.07);
}

textarea:active,
.button.secondary:active {
  color: var(--contentColorActive);
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

button:focus {
  transition: box-shadow .05s ease-in-out;
  box-shadow: 0 0 0 2px rgba(113, 69, 238, 0.7);
  outline: none;
}

button:disabled {
  background-color: var(--interactiveColorBackgroundDisabled);
  color: var(--contentColorDisabled);
  pointer-events: none;
  cursor: not-allowed;
}
